In [1]:

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')
sns.set(style="whitegrid")

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'lifeexpectancy'
table_name = 'lifeexpectancy'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

lifeexpectancy_df = pd.read_sql_query('select * from lifeexpectancy',con=engine)

# no need for an open connection, 
# as we're only doing a single query
engine.dispose()

In [2]:
lifeexpectancy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
Country                            2938 non-null object
Year                               2938 non-null int64
Status                             2938 non-null object
Life expectancy                    2928 non-null float64
Adult Mortality                    2928 non-null float64
infant deaths                      2938 non-null int64
Alcohol                            2744 non-null float64
percentage expenditure             2938 non-null float64
Hepatitis B                        2385 non-null float64
Measles                            2938 non-null int64
 BMI                               2904 non-null float64
under-five deaths                  2938 non-null int64
Polio                              2919 non-null float64
Total expenditure                  2712 non-null float64
Diphtheria                         2919 non-null float64
 HIV/AIDS                          2938 non-null float64
GDP                                2490 non-null float64
Population                         2286 non-null float64
 thinness  1-19 years              2904 non-null float64
 thinness 5-9 years                2904 non-null float64
Income composition of resources    2771 non-null float64
Schooling                          2775 non-null float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.0+ KB

In [3]:
lifeexpectancy_df.isnull().sum()*100/lifeexpectancy_df.count()

Country                             0.000000
Year                                0.000000
Status                              0.000000
Life expectancy                     0.341530
Adult Mortality                     0.341530
infant deaths                       0.000000
Alcohol                             7.069971
percentage expenditure              0.000000
Hepatitis B                        23.186583
Measles                             0.000000
 BMI                                1.170799
under-five deaths                   0.000000
Polio                               0.650908
Total expenditure                   8.333333
Diphtheria                          0.650908
 HIV/AIDS                           0.000000
GDP                                17.991968
Population                         28.521435
 thinness  1-19 years               1.170799
 thinness 5-9 years                 1.170799
Income composition of resources     6.026705
Schooling                           5.873874
dtype: float64

In [8]:
lifeexpectancy_df[["Total expenditure",
              "Population", "Income composition of resources", "Schooling"]].corr()

,Total expenditure,Population,Income composition of resources,Schooling
Total expenditure,1.000000,-0.079662,0.166682,0.246384
Population,-0.079662,1.000000,-0.008735,-0.031668
Income composition of resources,0.166682,-0.008735,1.000000,0.800092
Schooling,0.246384,-0.031668,0.800092,1.000000

In [9]:
#"Life expectancy", not included? why?